body{
    margin: 0px;
    padding: 0px;
}
.header{
    background-image: url(/images/coding2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
    color: white;
}
.navi{
    display: flex;
    flex-direction: column;
    padding: 0px;
    
}
.navi li{
    list-style: none;
    background-color:lightslategray;
    padding: 50px 0px;
    width: 170px;  
}
.navi li a{
    text-decoration:none ;
    color: white;
}
.navi li a:hover{
    background-color: black;
    padding: 10px;  
}
h1 em{
    background-color: lightslategray;
}
.back a{
    text-decoration: none;
    text-transform: capitalize;
    color: maroon;
    font-weight: bold;
}
.back a:hover{
    text-decoration: underline;
}