body{
    margin: 0px;
    padding: 0px;
    background-image: url(/images/coding2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: right;

}
.navi{
    display: flex;
    flex-direction: column;
    padding: 0px;
    
}
.navi li{
    list-style: none;
    background-color:lightslategray;
    padding: 40px 0px;
    width: 130px;
    

    
}
.navi li a{
    text-decoration:none ;
    color: white;
}
.navi li:hover{
    background-color: black;
    cursor: pointer;
}